.header {
  position: relative;

  width: 100%;

  text-align: center;
}

.header h1 {
  padding: 10px 0;
  text-transform: uppercase;
}

#guess-input {
  width: 50%;
  margin-top: 20px;
  padding: 15px 10px;

  border: none;
  border-radius: 5px;

  font-size: 16px;
  color: var(--secondary-color);
  background-color: var(--base-color);

  transition: all 0.4s ease;
}

#guess-input:focus {
  width: 60%;
  outline: 1px solid var(--secondary-color);
}

.input-shake {
  animation: shake 0.35s;
}

@keyframes shake {
  0% {
    transform: translate(-5%, 0);
  }
  50% {
    transform: translate(5%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* ==========================================================================
    Info and Settings Panel
========================================================================== */
.info-settings {
  position: absolute;
  top: 15px;
  left: 0;

  width: 100%;
  height: 85vh;

  border-radius: 5px;
  font-size: 14px;
  background: var(--gradient);
  z-index: 10000;
  transition: all 0.35s linear;
}

.info-settings-hidden {
  clip-path: circle(5% at 100% 0%);
}

.info-settings-shown {
  clip-path: circle(100%);
}

.fa-gear {
  position: absolute;
  right: 0;

  font-size: 22px;
  cursor: pointer;
}

.info {
  margin-top: 60px;
}

.info h4,
.settings h4 {
  font-size: 18px;
}

.info p:nth-of-type(1),
.settings form {
  margin-top: 30px;
}

.info p {
  margin: 20px 0;
  padding: 0 20px;

  text-align: left;
  line-height: 15px;
}

.wordle,
.worldle {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.35s ease;
}

.wordle:hover,
.worldle:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.settings {
  margin-top: 40px;
}

.settings form {
  margin-left: 20px;
  text-align: left;
}

.settings form label {
  font-weight: 700;
}

#units {
  padding: 5px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
}

/* ==========================================================================
    Auto Suggestions Generated Via JS
========================================================================== */
.suggestions {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 65vh;
  width: 100%;
  margin-top: 5px;

  border-radius: 5px;
  background-color: #330036f2;
  z-index: 500;
  overflow-y: scroll;
  overflow-x: hidden;
}

.suggestion {
  width: 50%;
  margin: 5px auto;
  padding: 12px 0;

  outline: none;
  border: none;
  border-radius: 5px;

  font-size: 16px;
  color: var(--secondary-color);
  background-color: var(--base-color);

  cursor: pointer;
  transition: all 0.175s ease;
}

.suggestion:hover {
  width: 60%;
  font-size: 18px;
}

.suggestion:focus {
  border: 1px solid var(--secondary-color);
}

.suggestion-error {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
