.loader {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;

  border-radius: 25px;
  background: var(--gradient);
  z-index: 10000;

  display: none;
}

.car-svg {
  width: 50%;
  fill: transparent;
}
