:root {
  --base-color: #2f394d;
  --secondary-color: #eee1b3;
  --tertiary-color: #330036;

  --accent-color: #8b0000;
  --win-color: #5c946e;

  --gradient: linear-gradient(45deg, var(--tertiary-color), var(--base-color));

  --direction-ang: rotate(0deg);
}
