/* ==========================================================================
    Reset CSS | Variables | Component Styles
========================================================================== */
@import './styles/reset.css';
@import './styles/variables.css';
@import './styles/fonts.css';
@import './styles/header.css';
@import './styles/guesses.css';
@import './styles/loader.css';

/* ==========================================================================
    Globals
========================================================================== */
* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* ==========================================================================
   Debugging
========================================================================== */
/* * {
  outline: 1px solid red;
} */

/* ==========================================================================
   Main App Styles
========================================================================== */
body {
  display: grid;
  place-items: center;

  height: 100vh;

  background: var(--gradient);
}

#app {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 60px 20px;

  border-radius: 25px;
  color: var(--secondary-color);
  font-size: 22px;
  box-shadow: 0px 0px 30px var(--tertiary-color);
}

@media (min-width: 800px) {
  #app {
    width: 60%;
  }
}

@media (min-width: 1100px) {
  #app {
    width: 50%;
    padding: 60px 40px;
  }
}

@media (min-width: 1600px) {
  #app {
    width: 40%;
  }
}
